parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - %rootDir%/../../../tests/temp/*
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
